/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
  background-image: url("../img/bg.jpg");
}
.bookBox {
  padding: 5%;
  background-color: rgba(255,255,255,0.4);
  width: 80%;
}
.bookBox p{
  margin-top: 5%;
  font-weight: bold;
}
.imgBook img{
  height: 150px;
  cursor: zoom-in;
}
.imgBook img:hover{
  opacity: 0.8;
}
.addNewBook{
  color: floralwhite;
  background-color: rgba(0,0,0,0.4);
  border: white 2px dashed;
}